{% import "macros.tmpl" as macros %}
{% extends "layout.tmpl" %}

{% block title %}
  Type Manager
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
  <div class="box">
    <h1>Types</h1>
    <br/>
    <table width="100%">
      <tr>
        <th>Name</th>
        <th>Entities</th>
        <th>Aliases</th>
        <th></th>
      </tr>
      {% for t in types %}
        <tr>
          <td><a href="{{ url_for('manage', type=t.name) }}">{{ t.name }}</a></td>
          <td><a href="{{ t.database.database_url + '/' + t.entity_table }}">{{ t.entity_table }}</a></td>
          <td><a href="{{ t.database.database_url + '/' + t.alias_table }}">{{ t.alias_table }}</a></td>
          <td><a href="{{ url_for('manager_edit', type=t.name) }}">edit</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}



