{% import "macros.tmpl" as macros %}
{% extends "layout.tmpl" %}

{% block title %}
  Type: {{ type.name }}
{% endblock %}

{% block content %}
  <div class="box">
    <h1>Type: {{ type.name }}</h1>
  </div>
{% endblock %}



