{% import "macros.tmpl" as macros %}
{% extends "layout.tmpl" %}

{% block title %}
  {{ entity.get('title') }}
{% endblock %}

{% block content %}
  <div class="box">
    <h1>{{ entity.get('title') }}</h1>

    <hr/>
    <table width="100%">
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      {% for k, v in entity.items() %}
        <tr>
          <td>{{ k }}</td>
          <td>{{ v }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}




